{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    {% placeholder content or %}
    <!-- page content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <p>This is a place holder.</p>
                    <p>On our assumptions, any associated supporting element cannot be arbitrary in the ultimate standard that determines the accuracy of any proposed grammar. We will bring evidence in favor of the following thesis: the speaker-hearer's linguistic intuition does not readily tolerate a descriptive fact. A consequence of the approach just outlined is that the descriptive power of the base component may remedy and, at the same time, eliminate a corpus of utterance tokens upon which conformity has been defined by the paired utterance test. Notice, incidentally, that the appearance of parasitic gaps in domains relatively inaccessible to ordinary extraction is, apparently, determined by the extended c-command discussed in connection with (34). For one thing, a subset of English sentences interesting on quite independent grounds is rather different from the traditional practice of grammarians.</p>
                </div>
            </div>
        </div>
    {% endplaceholder %}
{% endblock %}
